body{
    background-color: blueviolet;
}
form{
    width: 700px;
    margin: 150px auto;
    padding-bottom: 2em;
}
label{
    display: block;
    font-size: 25px;
}
input{
    display: block;
    width: 100%;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    margin-left: 600px;
    width: 100px;
    min-height: 30px;
    background-color: aquamarine;
}