body{
    background-color: #1B1B32;
    color: white;
}
.signin{
    color: white;
    font-size: 20px;
    text-align: end;
    color: none;
}
.heading{
    text-align: center;
    margin-top: 0;
}
heading a{
    text-decoration: none;
    color: white;
}
.goto{
    width: 100%;
    display: inline;
    margin-left: 100px;
    margin-right: 200px;
}
form{
    width: 700px;
    margin: 0 auto;
    padding-bottom: 2em;    
}
fieldset{
    border: none;
}
.jobs{
    font-size: 20px;
    border-bottom: 2px solid;
}
.first{
    text-align: center;
    border-bottom: 2px solid ;
}
.myjob{
    margin-top: 10px;
    height: 35px;
    width: 250px;
    background-color: white;
    color: black;
}
.city{
    font-size: 25px;
    height: 30px;
    width: 250px;
}